
header{
    background-color: #2C3E50;
    height: 100px;
}

.jumbo{
    background-color: #1ABC9C;
    height: 500px;
}

.profile{
    height: 250px;
    background-color: #2C3E50;
}

.col-md-6.content-portfolio{
    height: 350px;
}

.img{
    background-color: dodgerblue;
    height: 100%;
    border-radius: 20px;
}

.about{
    background-color: #1ABC9C;
    height: 550px;
}

footer{
    background-color: #3A546D;
    height: 350px;
}

.copyright-footer{
    height: 150px;
    background-color: #2C3E50;
}