

header{
    background-color: #2C3E50;
}

header .navbar-brand{
    font-size: 30px;
}

.jumbo{
    background-color: #1ABC9C;
}

h1{
    font-size: 3rem;
}

.line{
    height: 5px;
    width: 12%;
    border-radius: 10px;
}


.about{
    background-color: #1ABC9C;
}

footer{
    background-color: #3A546D;
    height: 350px;
}

.copyright-footer{
    height: 150px;
    background-color: #2C3E50;
}

