

header{
    background-color: #2C3E50;
}

header .navbar-brand{
    font-size: 30px;
}

#jumbo{
    background-color: #1ABC9C;
}

h1{
    font-size: 3rem;
}

.line{
    height: 5px;
    width: 12%;
    border-radius: 10px;
}


#about{
    background-color: #1ABC9C;
}

#contact .btn-primary{
    background-color: #1ABC9C;
    border: 0;
    font-weight: 500;
}

footer{
    background-color: #3A546D;
}

.copyright-footer{
    background-color: #2C3E50;
}

.start-b{
    text-decoration: none;
    color: #1ABC9C;
}

